* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    color: #FFFFFF;
    background: #000000;
}

body {
    overflow: hidden;
}

.container {
    position: absolute;
    width: 100%;
    max-width: 360px;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1px;
}

.result_view {
    display: grid;
    grid-template-rows: repeat(3, 1fr) 20px;
    gap: 1px;
    font-family: monospace;
}

.result {
    text-align: right;
    position: relative;
    overflow: hidden;
    background: #514D4C;
}

.result_icon {
    position: absolute;
    left: 0;
    top: 0;
    background: #625E5E;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    padding: 0.5em;
    border-bottom-right-radius: 0.5em;
    cursor: pointer;
}

.result_field {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
}

.result.selected {
    background: #625E5E;
}

.result.selected>.result_icon {
    background: #7A7777;
}

#dec_result_field {
    font-size: 20px;
}

#hex_result_field {
    font-size: 18px;
}

#bin_result_field {
    font-size: 11px;
}

.formula_wrapper {
    position: relative;
    /* background: #625E5E; */
}

#type {
    background: #3a8af2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 20px;
    padding: 0 4px;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

#formula {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}

#formula.warn {
    color: red;
}

.button_board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
    user-select: none;
    -webkit-user-select: none;
}

.btn {
    cursor: pointer;
    text-align: center;
    font-size: 24px;
}

.btn:hover, .btn.pushed {
    opacity: .8;
}
.btn.disabled {
    cursor: not-allowed;
    opacity: .5;
}

.num_btn {
    background: #7A7777;
}

.ctl_btn {
    background: #625E5E;
}

.op_btn {
    background: #3a8af2;
}
